# Python
__pycache__/
*.py[cod]
.venv/

# ML
data/*
!data/.gitkeep
checkpoints/
runs/
*.pt
*.pth

# IDEs
.vscode/
.idea/

# OS
.DS_Store

# Data
data/

# Testing
.pytest_cache/
.coverage

# Ruff
.ruff_cache/

# metadata
*.egg-info/